body {
    padding: 0;
    margin: 0;
}

.box {
    width: 100vw;
    height: 100vh;
    background: #030820;
    display: flex;
    box-sizing: border-box;
}
/*左边*/
.left {
    width: 30%;
    height: 100%;
    margin-left: 2.5%;
}

/*left-top*/
.left-top{
    width:100%;
    height:10%;

}

/*搜索框的样式*/

.search{
    width:50%;
    height:30px;
    position: relative;
    top:40%;
    box-shadow: 0 0 20px rgba(131, 218, 255, 0.3) inset;
}

.search input{
    background: none;
    border:none;
    color:#fff;
    vertical-align: 8px;
}
.search input:focus{
   outline: none;
    margin-top: 5px;
}
.search-icon{
    width:20px;height:20px;
    display: inline-block;
    background: url("../images/icon-search.png") no-repeat;
    margin-top: 5px;
    margin-left:10px;
}

.left-middle{
    width:100%;
    height:43%;
    background: url("../images/border-short.png") no-repeat;
    background-size: 100% 100%;
    color:#fff;

}
.left-middle-title{
    font-style: normal;
    font-size: 16px;
    position: relative;
    font-weight: normal;
    top:10px;
    margin-left: 10px;
}
.left-middle-box{
    width:100%;height: 80%;
}

.left-bottom{
    margin-top: 4%;
    width:100%;
    height:43%;
    background: url("../images/border-short.png") no-repeat;
    background-size: 100% 100%;
}
.left-bottom-title{
    font-style: normal;
    font-size: 16px;
    position: relative;
    font-weight: normal;
    top:10px;
    margin-left: 10px;
    color:#fff;
}

.left-bottom-box{
    width:100%;height:80%;
}



/*中间*/
.center {
    width: 35%;
    height: 100%;
}
.center-top{
    width:100%;
    height:10%;

}
.center-middle{
    width:100%;
    height:43%;
}
.center-bottom{
    margin-top: 4%;
    width:100%;
    height:43%;
    background: url("../images/border-short.png") no-repeat;
    background-size: 100% 100%;
}

.center-bottom-title{
    color:#fff;
    position: relative;
    top:10px;
    left:10px;
}
.center-bottom-box{
    width:100%;height:80%;
}


/*右边*/
.right {
    width: 30%;
    height: 100%;

}

.right-top{
    width:100%;
    height:10%;

}
.right-middle{
    width:100%;
    height:43%;
    background: url("../images/border-short.png") no-repeat;
    background-size: 100% 100%;
    color:#fff;
}
.right-bottom{
    margin-top: 4%;
    width:100%;
    height:43%;
    background: url("../images/border-short.png") no-repeat;
    background-size: 100% 100%;
}